<IfModule mod_headers.c>
  # --- Security-Header ---
  Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
  Header set   Referrer-Policy               "strict-origin-when-cross-origin"
  Header set   X-Frame-Options               "SAMEORIGIN"
  Header set   X-Content-Type-Options        "nosniff"
  Header set   Cross-Origin-Resource-Policy  "same-origin"


</IfModule>
